Techstarter/Nodejs/uebung_nodejs/node_modules/
Techstarter/Nodejs/uebung_nodejs/node_modules/.bin/mime
Techstarter/Nodejs/uebung_nodejs/node_modules/.bin/mime.ps1
Techstarter/Nodejs/uebung_nodejs/node_modules/.package-lock.json
Techstarter/Nodejs/uebung_nodejs/node_modules/.bin/mime.cmd
Techstarter/Nodejs/uebung_nodejs/node_modules/accepts/HISTORY.md
Techstarter/Nodejs/uebung_nodejs/node_modules/accepts/index.js
Techstarter/Nodejs/uebung_nodejs/node_modules/accepts/LICENSE
Techstarter/Nodejs/uebung_nodejs/node_modules/accepts/package.json
TypeScript/node_modules/.bin/ts-node-esm
TypeScript/node_modules/
Nodejs/uebung_nodejs/node_modules/accepts/LICENSE
Nodejs/uebung_nodejs/node_modules/